.box {
    border: 10px solid purple;
    margin: 10px;
  }
  
  #outer-box {
    background-color: purple;
    border: 20px solid red;
  }
  
  .inner-box {
    background-color: red;
  }
  
  .box > p {
    color: yellow;
  }
  
  .inner-box .white-text {
    color: white;
  }