.color-red{
    color: red;
}

.color-blue{
    color: blue;
}

.color-orange{
    color: orange;
}

.color-green{
    color: green;
}

.color-yellow{
    color: yellow;
}

img{
    height: 200px;
    width: 200px;
}